# mac system files
.DS_Store
._*

# ignore python opcode and virtual env
__pycache__
*.pyc
.venv/
.venv2/

# ignore logfiles
*.log
*.log.gz

# ignore config files
/config*.ini

# ignore data
/data*/
/tests/data-test/

/test-reports/

