# mac system files
.DS_Store
._*

# ignore python opcode and virtual env
__pycache__
*.pyc
.venv/
.venv2/

# ignore logfiles
nohup.out
*.log
*.log.gz

# ignore config files
/config*.ini

# ignore data
/data*/
/www/
/tests/data-test/
/test-reports/
*.csv

