[MAIN]
disable =
	C0114,  # missing-module-docstring
	C0115,  # missing-class-docstring
	C0116,  # missing-function-docstring
	R0801,  # Similar lines
	R0902,  # too-many-instance-attributes
  R0904,  # too-many-public-methods
  R0913,  # too-many-arguments
  R0917,  # too-many-positional-arguments
  W0511,  # fixme
	W1201,  # logging-not-lazy
  C0209,  # consider-using-f-string clashes with W1203 see https://github.com/pylint-dev/pylint/issues/5286
