<html>
<head>
    <meta charset="utf-8">
    <title>Project Index</title>
    <link rel="stylesheet" href="print.css" media="all">
</head>
<body>
<h1>Project Index</h1>

<ul>
    {% for p in projects %}
        <li>
            <div>
                <a href="{{ p.html_filename }}">
                    {{ p.project_number }} -
                    {{ p.name }}
                    {% if p.completed_on %} - Completed on: {{ p.completed_on }} {% endif %}
                </a>
            </div>
        </li>
    {% endfor %}
</ul>
</body>
</html>
