<html>
<head>
    <title>Project {{ project_number }}</title>
</head>
<body>
<h1>Project No. {{ project_number }}</h1>
<h2>{{ name }}</h2>
<p>{{ body }}</p>
<table>
    <tr>
        <td>category_id</td>
        <td>{{ category_id }}</td>
    </tr>
    <tr>
        <td>completed_by_id</td>
        <td>{{ completed_by_id }}</td>
    </tr>
    <tr>
        <td>completed_on</td>
        <td>{{ completed_on }}</td>
    </tr>
    <tr>
        <td>created_by_email</td>
        <td>{{ created_by_email }}</td>
    </tr>
    <tr>
        <td>created_by_id</td>
        <td>{{ created_by_id }}</td>
    </tr>
    <tr>
        <td>created_by_name</td>
        <td>{{ created_by_name }}</td>
    </tr>
    <tr>
        <td>created_on</td>
        <td>{{ created_on }}</td>
    </tr>
    <tr>
        <td>email</td>
        <td>{{ email }}</td>
    </tr>
    <tr>
        <td>id</td>
        <td>{{ id }}</td>
    </tr>
    <tr>
        <td>label_id</td>
        <td>{{ label_id }}</td>
    </tr>
    <tr>
        <td>members</td>
        <td>{{ members }}</td>
    </tr>
    <tr>
        <td>trashed_on</td>
        <td>{{ trashed_on }}</td>
    </tr>
    <tr>
        <td>updated_on</td>
        <td>{{ updated_on }}</td>
    </tr>
    <tr>
        <td>completed_by_name</td>
        <td>{{ completed_by_name }}</td>
    </tr>
    <tr>
        <td>completed_by_email</td>
        <td>{{ completed_by_email }}</td>
    </tr>
</table>
</body>
</html>