<html>
<head>
    <meta charset="utf-8">
    <title>Project Index</title>
    <link rel="stylesheet" href="print.css" media="all">
</head>
<body>
<h1>Project Index</h1>

<ul>
    {% for p in projects %}
        <li {% if p.completed_on %}class="completed"{% endif %}>
            <div>
                <a href="{{ p.html_filename }}">
                    <input type="checkbox" disabled {% if p.completed_on %}checked{% endif %} />
                    {{ p.project_number }} -
                    {{ p.name }}
                    {% if p.completed_on %} - <i>completed on {{ p.completed_on|as_datetime }} {% endif %}</i>
                    {% if p.label %} // <b>#{{ p.label.name }}</b> {% endif %}
                </a>
            </div>
        </li>
    {%  else %}
        <i>No projects</i>
    {% endfor %}
</ul>
<hr>
<div class="footer">
    page created {{ now|as_datetime }} - all times in UTC!
</div>
</body>
</html>
