<html>
<head>
    <title>Project Index</title>
</head>
<body>
<h1>Project Index</h1>

<ul>
    {% for p in projects %}
        <li>
            <div>
                <a href="{{ p.html_filename }}">
                    {{ p.id }} -
                    {{ p.name }}
                </a>
            </div>
        </li>
    {% endfor %}
</ul>
</body>
</html>