<html>
<head>
    <meta charset="utf-8">
    <title>Project {{ project_number }}</title>
    <link rel="stylesheet" href="print.css" media="all">

</head>
<body>
<a href="index.html">index</a>
<p></p>
<h1>Project No. {{ project_number }} {% if completed_on %} - Completed on: {{ completed_on|as_date }} {% endif %}</h1>
<h2>{{ name }}</h2>
<p>{{ body_formatted|safe }}</p>
<table>
    <tr>
        <td>Project ID (internal)</td>
        <td>{{ id }}</td>
    </tr>
    <tr>
        <td>Client Company</td>
        <td>{{ company_id }} - {{ client_company.name }} (is owner: {{ client_company.is_owner }})</td>
    </tr>
    <tr>
        <td>category_id</td>
        <td>{{ category_id }} {% if category %} - {{ category.name }} {% endif %}</td>
    </tr>
    <tr>
        <td>label_id</td>
        <td>{{ label_id }} {% if label %} - {{ label.name }} {% endif %}</td>
    </tr>
    <tr>
        <td>updated_on</td>
        <td>{{ updated_on|as_datetime }}</td>
    </tr>
    <tr>
        <td>Project Email</td>
        <td>{{ email }}</td>
    </tr>

    <tr>
        <td>Created</td>
        <td>{{ created_by_name }} {{ created_by_email|email }} {{ created_on|as_datetime }}</td>
    </tr>
    <tr>
        <td>Completed</td>
        <td>{{ completed_by_name }} {{ completed_by_email|email }} {{ completed_on|as_datetime }}</td>
    </tr>
    <tr>
        <td>Trashed on</td>
        <td>{{ trashed_on|as_date }}</td>
    </tr>

</table>

<h3>Attachments:</h3>
<ul>
    <li>Attachment 1</li>
</ul>

<h3>Members:</h3>

<ul>
    {% for user in members %}
        <li>{{ user.first_name }} {{ user.last_name }} {{ user.email|email }}</li>
    {%  endfor %}
</ul>

<h3>Tasks:</h3>

<ul>
    {% for task_list in task_lists %}
        <li id="task_list-{{ task_list.id }}">
            <h4 class="task_list"><input type="checkbox" disabled {% if task_list.is_completed %}checked{% endif %}/>
                Task-List {{ task_list.id }}: {{ task_list.name }}
                {% if task_list.is_completed %} - <i>completed on {{ task_list.completed_on|as_datetime }} {% endif %}</i>
            </h4>

            {% for task in tasks_by_tasklist[task_list.id] %}
                <li class="task {% if task.is_completed %}completed{% endif %} {% if task.is_important %}important{% endif %}">
                    <input type="checkbox" disabled {% if task.is_completed %}checked{% endif %}/>
                    <a href="{{ "task-%08d.html" % task.id }}">
                        #{{ task.task_number }}&nbsp;-&nbsp;{{ task.name }} {% if task.is_important %}‼️{% endif %}
                        {% if task.is_completed %} - <i>completed on {{ task.completed_on|as_datetime }} {% endif %}</i>
                    </a>
                </li>
            {% else %}
                <i>No tasks</i>
            {% endfor %}
        </li>
    {% else %}
        <i>No task lists</i>
    {%  endfor %}

</ul>
<ul>

</ul>

<hr>
<div class="footer">
    page created {{ now|as_datetime }}
</div>
</body>
</html>
