<html>
<head>
    <meta charset="utf-8">
    <title>Project {{ project_number }}</title>
    <link rel="stylesheet" href="print.css" media="all">

</head>
<body>
<a href="index.html">index</a>
<p></p>
<h1>Project No. {{ project_number }} {% if completed_on %} - Completed on: {{ completed_on|as_date }} {% endif %}</h1>
<h2>{{ name }}</h2>
<p>{{ body_formatted|safe }}</p>
<table class="project-meta">
    <tr>
        <td>Project ID (internal)</td>
        <td>{{ id }}</td>
    </tr>
    <tr>
        <td>Client Company</td>
        <td>{{ company_id }} - {{ client_company.name }} (is owner: {{ client_company.is_owner }})</td>
    </tr>
    <tr>
        <td>category_id</td>
        <td>{{ category_id }} {% if category %} - {{ category.name }} {% endif %}</td>
    </tr>
    <tr>
        <td>label_id</td>
        <td>{{ label_id }} {% if label %} - {{ label.name }} {% endif %}</td>
    </tr>
    <tr>
        <td>updated_on</td>
        <td>{{ updated_on|as_datetime }}</td>
    </tr>
    <tr>
        <td>Project Email</td>
        <td>{{ email }}</td>
    </tr>

    <tr>
        <td>Created</td>
        <td>{{ created_by_name }} {{ created_by_email|email }} {{ created_on|as_datetime }}</td>
    </tr>
    <tr>
        <td>Completed</td>
        <td>{{ completed_by_name }} {{ completed_by_email|email }} {{ completed_on|as_datetime }}</td>
    </tr>
    <tr>
        <td>Trashed on</td>
        <td>{{ trashed_on|as_date }}</td>
    </tr>

</table>

<h3>Attachments:</h3>
<div class="attachments">
    {% for attachment in attachments %}
        <p class="todo">TODO: Attachment {{ attachment|json }}</p>

        <div class="attachment-debug debug">
            DEBUG: {{ attachment|json }}
        </div>

    {%  else %}
        <p>No attachments</p>
    {% endfor %}
</div>


<h3>Members:</h3>

<div class="project-members">
    {% for user in members %}
        <div class="project-member">{{ user.first_name }} {{ user.last_name }} {{ user.email|email }}</div>
    {%  endfor %}
</div>

<h3>Tasks:</h3>

<div>
    {% for task_list in task_lists %}
        <div id="task_list-{{ task_list.id }}" class="tasklist">

            <h4 class="task_list"><input type="checkbox" disabled {% if task_list.is_completed %}checked{% endif %}/>
                Task-List {{ task_list.id }}: {{ task_list.name }}
                {% if task_list.is_completed %} - <i>completed on {{ task_list.completed_on|as_datetime }} {% endif %}</i>
            </h4>
            <div class="task_list-debug debug">
                DEBUG: {{ task_list|json }}
            </div>
        </div>
        {% for task in tasks_by_tasklist[task_list.id] %}
            <div class="task {% if task.is_completed %}completed{% endif %} {% if task.is_important %}important{% endif %}">
                <input type="checkbox" disabled {% if task.is_completed %}checked{% endif %}/>
                <a href="{{ "task-%08d.html" % task.id }}">
                    #{{ task.task_number }}&nbsp;-&nbsp;{{ task.name }} {% if task.is_important %}‼️{% endif %}
                    {% if task.is_completed %} - <i>completed on {{ task.completed_on|as_datetime }} {% endif %}</i>
                </a>
            </div>
            <div class="task-debug debug">
                DEBUG: {{ task|json }}
            </div>
        {% else %}
            <div>No tasks</div>
        {% endfor %}
    {% else %}
        <div>No task lists</div>
    {%  endfor %}
</div>


<hr>
<div class="footer">
    page created {{ now|as_datetime }}
</div>
</body>
</html>
