<html>
<head>
    <meta charset="utf-8">
    <title>Task {{ task_number }}</title>
    <link rel="stylesheet" href="print.css" media="all">

</head>
<body>
<a href="index.html">index</a>
<p></p>
<h1>Task No. {{ task_number }} {% if is_completed %} - ☑️ Completed on: {{ completed_on|as_date }} {% endif %}</h1>
<h2>{{ name }}</h2>

<div>
    <a href="{{ "project-%08d.html" % project_id }}">Project {{ project.name }} </a>
</div>
&nbsp;

<table class="task-meta">
    <tr>
        <td>Task-List / Task ID (internal)</td>
        <td>{{ task_list_id }} / {{ id }}</td>
    </tr>
    <tr>
        <td>Position</td>
        <td>{{ position }}</td>
    </tr>

    <tr>
        <td>Assignee</td>
        <td>{{ assignee_id }}</td>
    </tr>

    <tr>
        <td>Start on / Due on</td>
        <td>{{ start_on|as_date }} / {{ due_on|as_date }}</td>
    </tr>

    <tr>
        <td>Important</td>
        <td {% if is_important %}class="important"{% endif %}>{{ is_important }} {% if is_important %}‼️{% endif %}</td>
    </tr>

    <tr>
        <td>is_trashed</td>
        <td>{{ is_trashed }}</td>
    </tr>

    <tr>
        <td>Labels</td>
        <td>
            <ul>
                {% for label in labels %}
                    <li style="color: {{ label.lighter_text_color }}">{{ label.name }}</li>
                {% endfor %}
            </ul>
        </td>

    </tr>

    <tr>
        <td>Created</td>
        <td>{{ created_by_name }}
            {{ created_by_email|email }}
            {{ created_on|as_datetime }}
        </td>
    </tr>
    <tr>
        <td>Completed</td>
        <td>{{ completed_by_name }}
            {{ completed_by_email|email }}
            {{ completed_on|as_datetime }}
        </td>
    </tr>
    <tr>
        <td>Trashed on</td>
        <td>{{ trashed_on|as_datetime }}</td>
    </tr>

</table>
<div class="task-body">{{ body_formatted|safe }}</div>

<h3>Attachments:</h3>
<div class="attachments">
    {% for attachment in attachments %}
        <p class="todo">TODO: Attachment {{ attachment|json }}</p>
    {%  else %}
        <p>No attachments</p>
    {% endfor %}
</div>

<h3>Subtasks</h3>

<div class="subtasks">
    {% for subtask in subtasks %}
        <div class="subtask {% if subtask.is_completed %}completed{% endif %}">
            <input type="checkbox" disabled {% if subtask.is_completed %}checked{% endif %}/>
            {{ subtask.position }} - {{ subtask.name }}
            {% if subtask.is_completed %}<i>completed on {{ subtask.completed_on|as_datetime }}{% endif %}</i>
        </div>
            <div class="subtask-debug debug">
                DEBUG: {{ subtask|json }}
            </div>
    {% else %}
        <li>No subtasks</li>
    {% endfor %}
</div>

<h3>Dependencies</h3>

<ul>
    <li class="todo">TODO: list dependencies here</li>
</ul>

<h3>Comments</h3>

<div class="comments">
    {% for comment in comments %}
        <div class="comment">
            <div class="comment-meta">
                <p>created: {{ comment.created_on|as_datetime }} {{ comment.created_by_name }} {{ comment.created_by_email|email }}</p>
                {% if comment.last_modification_on %}
                    <p>modfied: {{ comment.last_modification_on|as_datetime }} {{ comment.last_modification_by_name }} {{ comment.last_modification_by_email|email }}</p>
                {% endif %}
                {% if comment.updated_on != comment.created_on %}
                    <p>updated: {{ comment.updated_on|as_datetime }} {{ comment.updated_by_id }}</p>
                {% endif %}
                {% for attachment in comment.attachments %}
                    <p class="todo">TODO: Attachment {{ attachment|json }}</p>
                {% endfor %}
            </div>
            <div class="comment-body">{{ comment.body_formatted|safe }}</div>

            <div class="comment-reactions">
                {% for reaction in comment.reactions %}
                    <span class="reaction-emoji">{{ reaction.class|emoji }}</span>
                    <span class="reaction-name">{{ reaction.created_by_name }}</span>
                    <div class="debug">{{ reaction|json }}</div>
                {% endfor %}
            </div>

            <div class="comment-debug debug">
                DEBUG: {{ comment|json }}
            </div>
        </div>
    {% else %}
        <div>No comments</div>
    {% endfor %}
</div>

<hr>
<div class="footer">
    page created {{ now|as_datetime }}
</div>

</body>
</html>
