<html>
<head>
    <meta charset="utf-8">
    <title>Task {{ task_number }}</title>
    <link rel="stylesheet" href="print.css" media="all">

</head>
<body>
<a href="index.html">index</a>
<p></p>
<h1>Task No. {{ task_number }} {% if is_completed %} - ☑️ Completed on: {{ completed_on }} {% endif %}</h1>
<h2>{{ name }}</h2>

<div>
    <a href="{{ "project-%08d.html" % project_id }}">Project {{ project.name }} </a>
</div>
&nbsp;

<table>
    <tr>
        <td>Task-List / Task ID (internal)</td>
        <td>{{ task_list_id }} / {{ id }}</td>
    </tr>
    <tr>
        <td>Position</td>
        <td>{{ position }}</td>
    </tr>

    <tr>
        <td>Assignee</td>
        <td>{{ assignee_id }}</td>
    </tr>

    <tr>
        <td>Start on / Due on</td>
        <td>{{ start_on }} / {{ due_on }}</td>
    </tr>

    <tr>
        <td>Important</td>
        <td {% if is_important %}class="important"{% endif %}>{{ is_important }} {% if is_important %}‼️{% endif %}</td>
    </tr>

    <tr>
        <td>is_trashed</td>
        <td>{{ is_trashed }}</td>
    </tr>

    <tr>
        <td>Labels</td>
        <td>
            <ul>
                {% for label in labels %}
                    <li style="color: {{ label.lighter_text_color }}">{{ label.name }}</li>
                {% endfor %}
            </ul>
        </td>

    </tr>

    <tr>
        <td>Created</td>
        <td>{{ created_by_name }} &lt;<a href="mailto:{{ created_by_email }}">{{ created_by_email }}</a>&gt; {{ created_on }}</td>
    </tr>
    <tr>
        <td>Completed</td>
        <td>{{ completed_by_name }} &lt;<a href="mailto:{{ completed_by_email }}">{{ completed_by_email }}</a>&gt; {{ completed_on }}</td>
    </tr>
    <tr>
        <td>Trashed on</td>
        <td>{{ trashed_on }}</td>
    </tr>

</table>
<p>{{ body_formatted|safe }}</p>

<h3>Attachments:</h3>
<ul>
    <li>TODO: list attachment here</li>
</ul>

<h3>Subtasks</h3>

<li>
    <ul>TODO: list subtasks here</ul>
</li>
<ul>
        </li>
</ul>

<h3>Dependencies</h3>

<li>
    <ul>TODO: list dependencies here</ul>
</li>
<ul>
    <li>TODO: list dependencies here</li>
</ul>

<h3>Comments</h3>

<ul>
    <li>TODO: list comments here</li>
</ul>

<hr>
<div class="footer">
    page created {{ now|as_datetime }}
</div>

</body>
</html>
